doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Landing Page
  link(rel='stylesheet' href='css/student3.css')
h1 Anup Bhattarai
h2 Majoring in Mayonnaise Research &amp; Development

section#location
  h2 Location
  p Our university is located ..... 

section#about
  h2 About the Major
  section#about-major
    h3 Why Study Mayonnaise?
    p ......
  section#career
    h3 Career Opportunities
    p ........
  section#research
    h3 Research
    p About research...

section#comments
  h2 Things To Do
  a(href='/student3/commentsS3') Add things to do here.
  ul#comments-list
    if comments && comments.length > 0
      each comment in comments
        li= comment.comment
    else
      li No comments to display.