doctype html
link(rel='stylesheet' href='css/student3.css')

head
  title Landing Page
  script(type='text/javascript').
    if (foo) bar(1 + 5)
h1 Anup
h2 Majoring in Mayonnaise Research &amp; Development
section#location
  h2 Location
  p Our university is located .....
section#about
  h2 About the Major
  section#about-major
    h3 Why Study Mayonnaise?
    p ......
  session#career
    h3
      | Career Opportunities
      p ........
  section#research
    h3 Research
    p About research...
section#images
  h2 Images
section#comments
  h2 Student Comments
  ul#comments-list
