doctype html
link(rel='stylesheet' href='css/student2.css')

head
    title GIMM (Undergrad) - student 2
body
    section 
        h1 Gavin Tafoya
        ul(style="list-style: none;")
            li 
                //does not work
                a(href="/views") home
            li 
                a(href="/student1") student 1
            li 
                a(href="/student2") student 2
            li 
                a(href="/student3") student 3
    h2 Games, Interactive Media and Mobile

    section
        h2 Location
        p  The university which GIMM is locatd is in a midieval castle. The nearby land is flooded with rubber ducks of all kinds, some are regular rubber ducks, some have fancy mustaches. Some even have magical powers! 
    section
        h2 About
        section 
            h3 Thing
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, repudiandae. Veritatis dolores recusandae earum! Nisi?
        section 
            h3 Thing
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam quisquam, eum nulla repudiandae, libero inventore voluptates nesciunt magni voluptate dolorum in esse totam sapiente. Quidem cupiditate perspiciatis consequuntur sint error architecto ratione ipsa totam dolor rerum eius quae eaque placeat exercitationem neque nisi voluptas minima saepe assumenda, et consequatur. Quidem.
        section 
            h3 Thing
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, quidem id maiores nobis distinctio amet mollitia, a quis vel adipisci odit tempore! Ut quas laudantium non voluptates architecto sint vitae!
    section 
        h2 Things To Do 
        ul
            li Lorem.
            li Lorem.
            li Lorem, ipsum.
    section
        h2 Images
        img(src="https://blog.placeit.net/wp-content/uploads/2021/03/mockup-of-a-pro-gamer-wearing-a-t-shirt.png")
        img(src="https://www.funcarnival.com/cdn/shop/files/N1673-a_800x.jpg?v=1693583898")
    section
        h2 Comments



