doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Comments
body

    section.backButton
        a(href='/student1') Back

    section.commentPage
        h1 Leave A Comment
        p
            form(action='/newCommentS1' method='post')
                input(type='text' name='todo' placeholder='New Item Here')
                br
                input(type='submit' value='Add Item' name='button')
        ul
        - if (comments && comments.length > 0)
            - for (let i = 0; i < comments.length; i++)
                li= comments[i].comment
                form(action="/deleteS1", method="post")
                    input(type="hidden", name="id" value=comments[i].id)
                    input(type="submit", value="X")
        - else
            p No Comments available.
