doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Degree Webpage
body
    h1 Daniel Trice
    h2 Degree Name

section
  h2 Location
  p Describe Location of University
section
  h2 About
  section
    h3  Something about the university
  section
    h3  Something about the university
  section
    h3  Something about the university
section
  h2 Things To Do
  ul
    li
      | something to do
    li
      | something to do
    li
      | something to do
    li
      | something to do
    li
      | something to do
img
img
p  link to comments page 
ul  display 5 comments from database here 